{{outlet}}
<div id="page-wrapper">

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        {{left-nav coin=model}}
      </div>
      <!-- Page Heading -->
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


        <h1 class="page-header">
          Trakr <small>{{user}} coins</small>
        </h1>

        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-dashboard"></i> Dashboard
          </li>
        </ol>


        <!-- /.row -->

        <!-- /.row -->

        <div class="row">
          <div class="col-lg-3 col-md-6">
            {{large-icon coin=model}}
          </div>

          <div class="col-lg-3 col-md-6">
            {{large-icon coin=model}}
          </div>

          <div class="col-lg-3 col-md-6">
            {{large-icon coin=model}}
          </div>

          <div class="col-lg-3 col-md-6">
            {{large-icon coin=model}}
          </div>
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart</h3>
              </div>
              <div class="panel-body">
                <div id="morris-area-chart" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg height="362" version="1.1" width="973" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="49.203125" y="328" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.25">0</tspan></text><path fill="none" stroke="#aaaaaa" d="M61.703125,328H948" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="49.203125" y="252.25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.25">7,500</tspan></text><path fill="none" stroke="#aaaaaa" d="M61.703125,252.25H948" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="49.203125" y="176.5" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.25">15,000</tspan></text><path fill="none" stroke="#aaaaaa" d="M61.703125,176.5H948" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="49.203125" y="100.75" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.25">22,500</tspan></text><path fill="none" stroke="#aaaaaa" d="M61.703125,100.75H948" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="49.203125" y="25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.25">30,000</tspan></text><path fill="none" stroke="#aaaaaa" d="M61.703125,25H948" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="948" y="340.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.25">2012-06</tspan></text><text x="848.9641434294466" y="340.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.25">2012-03</tspan></text><text x="750.9603777973267" y="340.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.25">2011-12</tspan></text><text x="652.9117386461445" y="340.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.25">2011-09</tspan></text><text x="553.8310085565288" y="340.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.25">2011-06</tspan></text><text x="454.7951519859754" y="340.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.25">2011-03</tspan></text><text x="357.8683508113513" y="340.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.25">2010-12</tspan></text><text x="259.8197116601691" y="340.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.25">2010-09</tspan></text><text x="160.7389815705534" y="340.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.25">2010-06</tspan></text><text x="61.703125" y="340.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.25">2010-03</tspan></text><path fill="#7cb47c" stroke="none" d="M61.703125,274.3387C86.46208914263835,268.7837,135.98001742791504,257.25464894110985,160.7389815705534,252.1187C185.50916409295732,246.98042394110985,235.04952913776518,240.27266910994766,259.8197116601691,233.2418C284.33187144796466,226.28416910994767,333.35619102355577,198.24076429804373,357.8683508113513,196.1647C382.1000511050073,194.11238929804372,430.5634516923194,215.21836503320355,454.7951519859754,216.7283C479.5541161286137,218.27109003320356,529.0720444138905,207.34815776896943,553.8310085565288,208.37560000000002C578.6011910789327,209.40350776896943,628.1415561237405,243.18807905759164,652.9117386461445,224.9497C677.42389843394,206.90130405759163,726.4482180095312,72.03266468299381,750.9603777973267,63.2285C775.4613192053566,54.428364682993816,824.4632020214167,141.6232370986108,848.9641434294466,154.5325C873.7231075720849,167.5777120986108,923.2410358573617,163.917925,948,167.0464L948,328L61.703125,328Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#4da74d" d="M61.703125,274.3387C86.46208914263835,268.7837,135.98001742791504,257.25464894110985,160.7389815705534,252.1187C185.50916409295732,246.98042394110985,235.04952913776518,240.27266910994766,259.8197116601691,233.2418C284.33187144796466,226.28416910994767,333.35619102355577,198.24076429804373,357.8683508113513,196.1647C382.1000511050073,194.11238929804372,430.5634516923194,215.21836503320355,454.7951519859754,216.7283C479.5541161286137,218.27109003320356,529.0720444138905,207.34815776896943,553.8310085565288,208.37560000000002C578.6011910789327,209.40350776896943,628.1415561237405,243.18807905759164,652.9117386461445,224.9497C677.42389843394,206.90130405759163,726.4482180095312,72.03266468299381,750.9603777973267,63.2285C775.4613192053566,54.428364682993816,824.4632020214167,141.6232370986108,848.9641434294466,154.5325C873.7231075720849,167.5777120986108,923.2410358573617,163.917925,948,167.0464" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="61.703125" cy="274.3387" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="160.7389815705534" cy="252.1187" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="259.8197116601691" cy="233.2418" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="357.8683508113513" cy="196.1647" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="454.7951519859754" cy="216.7283" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="553.8310085565288" cy="208.37560000000002" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="652.9117386461445" cy="224.9497" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="750.9603777973267" cy="63.2285" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="848.9641434294466" cy="154.5325" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="948" cy="167.0464" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><path fill="#a7b3bc" stroke="none" d="M61.703125,301.0734C86.46208914263835,294.99825,135.98001742791504,282.093032191393,160.7389815705534,276.7728C185.50916409295732,271.450157191393,235.04952913776518,261.41069999999996,259.8197116601691,258.5019C284.33187144796466,255.62339999999998,333.35619102355577,255.9637752301496,357.8683508113513,253.6236C382.1000511050073,251.3102002301496,430.5634516923194,243.13352305930846,454.7951519859754,239.88760000000002C479.5541161286137,236.57104805930845,529.0720444138905,227.23611866930915,553.8310085565288,227.37369999999999C578.6011910789327,227.51134366930916,628.1415561237405,255.04643089005233,652.9117386461445,240.9885C677.42389843394,227.07700589005233,726.4482180095312,123.74453753719388,750.9603777973267,115.49600000000001C775.4613192053566,107.25123753719387,824.4632020214167,166.3559588476429,848.9641434294466,175.0153C873.7231075720849,183.7658338476429,923.2410358573617,182.60545000000002,948,185.1355L948,328L61.703125,328Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#7a92a3" d="M61.703125,301.0734C86.46208914263835,294.99825,135.98001742791504,282.093032191393,160.7389815705534,276.7728C185.50916409295732,271.450157191393,235.04952913776518,261.41069999999996,259.8197116601691,258.5019C284.33187144796466,255.62339999999998,333.35619102355577,255.9637752301496,357.8683508113513,253.6236C382.1000511050073,251.3102002301496,430.5634516923194,243.13352305930846,454.7951519859754,239.88760000000002C479.5541161286137,236.57104805930845,529.0720444138905,227.23611866930915,553.8310085565288,227.37369999999999C578.6011910789327,227.51134366930916,628.1415561237405,255.04643089005233,652.9117386461445,240.9885C677.42389843394,227.07700589005233,726.4482180095312,123.74453753719388,750.9603777973267,115.49600000000001C775.4613192053566,107.25123753719387,824.4632020214167,166.3559588476429,848.9641434294466,175.0153C873.7231075720849,183.7658338476429,923.2410358573617,182.60545000000002,948,185.1355" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="61.703125" cy="301.0734" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="160.7389815705534" cy="276.7728" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="259.8197116601691" cy="258.5019" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="357.8683508113513" cy="253.6236" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="454.7951519859754" cy="239.88760000000002" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="553.8310085565288" cy="227.37369999999999" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="652.9117386461445" cy="240.9885" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="750.9603777973267" cy="115.49600000000001" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="848.9641434294466" cy="175.0153" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="948" cy="185.1355" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><path fill="#2577b5" stroke="none" d="M61.703125,301.0734C86.46208914263835,300.7906,135.98001742791504,302.77713274065684,160.7389815705534,299.9422C185.50916409295732,297.1059827406569,235.04952913776518,279.6439497382199,259.8197116601691,278.3888C284.33187144796466,277.1467247382199,333.35619102355577,292.36331225546604,357.8683508113513,289.9533C382.1000511050073,287.57086225546607,430.5634516923194,261.59568010075566,454.7951519859754,259.219C479.5541161286137,256.79060510075567,529.0720444138905,268.2211940543601,553.8310085565288,270.733C578.6011910789327,273.24594405436017,628.1415561237405,291.2514408376963,652.9117386461445,279.318C677.42389843394,267.5088658376963,726.4482180095312,183.1714828736553,750.9603777973267,175.7627C775.4613192053566,168.3573078736553,824.4632020214167,211.72095415622866,848.9641434294466,220.06130000000002C873.7231075720849,228.48947915622867,923.2410358573617,237.142925,948,242.83679999999998L948,328L61.703125,328Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#0b62a4" d="M61.703125,301.0734C86.46208914263835,300.7906,135.98001742791504,302.77713274065684,160.7389815705534,299.9422C185.50916409295732,297.1059827406569,235.04952913776518,279.6439497382199,259.8197116601691,278.3888C284.33187144796466,277.1467247382199,333.35619102355577,292.36331225546604,357.8683508113513,289.9533C382.1000511050073,287.57086225546607,430.5634516923194,261.59568010075566,454.7951519859754,259.219C479.5541161286137,256.79060510075567,529.0720444138905,268.2211940543601,553.8310085565288,270.733C578.6011910789327,273.24594405436017,628.1415561237405,291.2514408376963,652.9117386461445,279.318C677.42389843394,267.5088658376963,726.4482180095312,183.1714828736553,750.9603777973267,175.7627C775.4613192053566,168.3573078736553,824.4632020214167,211.72095415622866,848.9641434294466,220.06130000000002C873.7231075720849,228.48947915622867,923.2410358573617,237.142925,948,242.83679999999998" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="61.703125" cy="301.0734" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="160.7389815705534" cy="299.9422" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="259.8197116601691" cy="278.3888" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="357.8683508113513" cy="289.9533" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="454.7951519859754" cy="259.219" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="553.8310085565288" cy="270.733" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="652.9117386461445" cy="279.318" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="750.9603777973267" cy="175.7627" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="848.9641434294466" cy="220.06130000000002" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="948" cy="242.83679999999998" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle></svg>
                  <div class="morris-hover morris-default-style" style="left: 792.964px; top: 112px; display: none;">
                    <div class="morris-hover-row-label">2012 Q1</div>
                    <div class="morris-hover-point" style="color: #0b62a4">
                      iPhone: 10,687
                    </div>
                    <div class="morris-hover-point" style="color: #7A92A3">
                      iPad: 4,460
                    </div>
                    <div class="morris-hover-point" style="color: #4da74d">
                      iPod Touch: 2,028
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-lg-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Donut Chart</h3>
              </div>
              <div class="panel-body">
                <div id="morris-donut-chart"><svg height="362" version="1.1" width="283" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="none" stroke="#0b62a4" d="M141.5,271.1666666666667A87.66666666666667,87.66666666666667,0,0,0,224.4125105355438,211.97736015043859" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#0b62a4" stroke="#ffffff" d="M141.5,274.1666666666667A90.66666666666667,90.66666666666667,0,0,0,227.24982078200725,212.9518705738376L261.13991539254323,224.59185618665947A126.5,126.5,0,0,1,141.5,310Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#3980b5" d="M224.4125105355438,211.97736015043859A87.66666666666667,87.66666666666667,0,0,0,62.8718822023325,144.73063663096116" stroke-width="2" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path><path fill="#3980b5" stroke="#ffffff" d="M227.24982078200725,212.9518705738376A90.66666666666667,90.66666666666667,0,0,0,60.181186156024495,143.40392837878875L23.557823303498765,125.34595494644175A131.5,131.5,0,0,1,265.8687658033157,226.21604022565785Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#679dc6" d="M62.8718822023325,144.73063663096116A87.66666666666667,87.66666666666667,0,0,0,141.47245870485656,271.1666623404901" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#679dc6" stroke="#ffffff" d="M60.181186156024495,143.40392837878875A90.66666666666667,90.66666666666667,0,0,0,141.471516227076,274.16666219244604L141.46025885358583,309.9999937574753A126.5,126.5,0,0,1,28.042316714012117,127.55713536672914Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="141.5" y="173.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: 800; font-stretch: normal; font-size: 15px; line-height: normal; font-family: Arial;" font-size="15px" font-weight="800" transform="matrix(1.5775,0,0,1.5775,-81.7082,-104.9619)" stroke-width="0.6339115969581748"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="5.25">In-Store Sales</tspan></text><text x="141.5" y="193.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 14px; line-height: normal; font-family: Arial;" font-size="14px" transform="matrix(1.8853,0,0,1.8853,-125.2568,-164.4453)" stroke-width="0.5304182509505703"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.75">30</tspan></text></svg></div>
                <div class="text-right">
                  <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
              </div>
              <div class="panel-body">
                <div class="list-group">
                  <a href="#" class="list-group-item">
                                        <span class="badge">just now</span>
                                        <i class="fa fa-fw fa-calendar"></i> Calendar updated
                                    </a>
                  <a href="#" class="list-group-item">
                                        <span class="badge">4 minutes ago</span>
                                        <i class="fa fa-fw fa-comment"></i> Commented on a post
                                    </a>
                  <a href="#" class="list-group-item">
                                        <span class="badge">23 minutes ago</span>
                                        <i class="fa fa-fw fa-truck"></i> Order 392 shipped
                                    </a>
                  <a href="#" class="list-group-item">
                                        <span class="badge">46 minutes ago</span>
                                        <i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
                                    </a>
                  <a href="#" class="list-group-item">
                                        <span class="badge">1 hour ago</span>
                                        <i class="fa fa-fw fa-user"></i> A new user has been added
                                    </a>
                  <a href="#" class="list-group-item">
                                        <span class="badge">2 hours ago</span>
                                        <i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
                                    </a>
                  <a href="#" class="list-group-item">
                                        <span class="badge">yesterday</span>
                                        <i class="fa fa-fw fa-globe"></i> Saved the world
                                    </a>
                  <a href="#" class="list-group-item">
                                        <span class="badge">two days ago</span>
                                        <i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"
                                    </a>
                </div>
                <div class="text-right">
                  <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <thead>
                      <tr>
                        <th>Order #</th>
                        <th>Order Date</th>
                        <th>Order Time</th>
                        <th>Amount (USD)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>3326</td>
                        <td>10/21/2013</td>
                        <td>3:29 PM</td>
                        <td>$321.33</td>
                      </tr>
                      <tr>
                        <td>3325</td>
                        <td>10/21/2013</td>
                        <td>3:20 PM</td>
                        <td>$234.34</td>
                      </tr>
                      <tr>
                        <td>3324</td>
                        <td>10/21/2013</td>
                        <td>3:03 PM</td>
                        <td>$724.17</td>
                      </tr>
                      <tr>
                        <td>3323</td>
                        <td>10/21/2013</td>
                        <td>3:00 PM</td>
                        <td>$23.71</td>
                      </tr>
                      <tr>
                        <td>3322</td>
                        <td>10/21/2013</td>
                        <td>2:49 PM</td>
                        <td>$8345.23</td>
                      </tr>
                      <tr>
                        <td>3321</td>
                        <td>10/21/2013</td>
                        <td>2:23 PM</td>
                        <td>$245.12</td>
                      </tr>
                      <tr>
                        <td>3320</td>
                        <td>10/21/2013</td>
                        <td>2:15 PM</td>
                        <td>$5663.54</td>
                      </tr>
                      <tr>
                        <td>3319</td>
                        <td>10/21/2013</td>
                        <td>2:13 PM</td>
                        <td>$943.45</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="text-right">
                  <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.container-fluid -->

    </div>
  </div>
</div>
