<h3 style = "margin-top: 3%;">Posts Index</h3>
<button style = "float: right" >{{#link-to 'post.new'}}New Post{{/link-to}}</button>
{{!-- <div class = "post-images">
  <img src="assets/Posts.jpg" alt="" width="100%">
</div> --}}
<ol>
  {{#each model.posts as |post|}}
  {{log post.user_id}}
  {{log model.users.id}}
  <div class='post-div'>
      {{#link-to 'post' post}}
      <h1>  {{post.title}}</h1>
      <hr>
      <hr>
      <p class="lead">{{post.body}}</p>

      {{/link-to}}
      <div>
        {{#if (eq model.users.id post.user_id)}}
      <a {{action 'delete' post}}>Delete</a>
      <a> {{#link-to 'post.edit' post}}Edit{{/link-to}}</a>
      {{else}}
      <span style='visibility: hidden;
'>''</span>
      {{/if}}
      </div>
  </div>
  {{/each}}
</ol>
<div style='visibility: hidden;'>
  ''
</div>
{{!-- <button class="btn btn-default">{{#link-to 'post.new'}}New Post{{/link-to}}</button> --}}

{{outlet}}
